.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

/* .indicator {
  width: 12px;
  height: 4px;
  transition: width 250ms ease;
  background-color: blue;
  color: black;

  &[data-active] {
    width: 40px;
    background-color: red;
  }
} */
